<td>
  <%= form_tag(movie_path(movie.id), id: (movie.id.to_s + "-form"), remote: true, method: "patch") do %>
    <%= hidden_field_tag :movie_id, movie.id %>
    <%= hidden_field_tag :title, movie.title %>
    <%= hidden_field_tag :year, movie.release_date %>
    <%= submit_tag "Refresh", id: (movie.id.to_s + "-button"), class: "btn btn-default" %>
  <% end %>
</td>
