<% form_data = ive_seen_it(movie.id, @ourmovies) %>
<tr class="<%= form_data.trclass %>" id = "<%= movie.id %>_tr">
  <td><%= image_tag (movie.poster_path) %></td>
  <td><%= link_to (movie.title + " (#{parse_date(movie.release_date)})"), movie_path(movie.id) %></td>
  <td><%= render 'shared_partials/iveseenitbutton', form_data: form_data, movie: movie %></td>
  <td><%= admin? movie %>
</tr>
