  <%= provide :title, 'Lists' %>
<table>
	<tr>
		<td><%= link_to 'Top 250', list_path('522effe419c2955e9922fcf3') %></td>
	</tr>
	<tr>
		<td><%= link_to 'Halloween Collection', list_path('526bbe65760ee34e7206daf4') %></td>
	</tr>
  <tr>
    <td><%= link_to 'Best Picture Winners', list_path('509ec17b19c2950a0600050d') %></td>
  </tr>
  <tr>
    <td><%= link_to 'AFI Top 100', list_path('521ca898760ee366060e85fc') %></td>
  </tr>
</table>
