<% unless @list.status_code == 6 %>
  <%= provide :title, @list.name %>
  <h2 id='watchedmoviecount'>
  <%= check_movie_counter(@list).html_safe %>
  </h2>

  <h1><%= @list.name %></h1>
  <table id='movies' class='movie-list'>
    <tr class='movie-status-table-header'>
      <th></th>
      <th>Film</th>
      <th></th>
    </tr>
    <tbody class = 'page'>
    <%= render :partial => @list.view_partial, :collection => @list.list_renderable(params[:page]), :as => :movie %>
    </tbody>
  </table>
  <%= paginate @list.paginated_list(params[:page]) %>
<% else %>
  <title>List not found</title>
  <h2>List not found!</h2>
<% end %>
