<table>
	<tr class="movie_status_table_header">
		<th></th>
		<th>Film</th>
		<th>Character</th>
		<th>Status</th>
	</tr>
	<% @actor.each do |movie| %>
	<% if ive_seen_it(movie['id']) %>
			<% method = "delete"; submit = "Oops, haven't seen it!"; action = "destroy"; trclass="movie_watched" %>
			<% else %>
			<% method = "post"; submit = "I've seen it!"; action = "create"; trclass="movie_unwatched" %>
			<% end %>
		<tr class="<%= trclass %>" id = "<%= movie['id'] %>_tr">
			<td><%= image_tag (Tmdb::TheMovieDb::PICTURE_URL + movie['poster_path']) unless movie['poster_path'].nil? %></td>
			<td><%= link_to (movie['title'] + " (#{Date.parse(movie['release_date']).strftime('%Y') unless (movie['release_date'].empty?)})"), movie_path(movie['id']) %></td>
			<td><%= movie['character'] %></td>
			<% if user_signed_in? %>
			<td>
			
			<%= form_tag({controller: "actors", action: action}, { id: (movie['id'].to_s + "_form"), remote: true, method: method }) do %>
			<%= hidden_field_tag :movie_id, movie['id'] %>
			<%= hidden_field_tag :title, movie['title'] %>
			<%= hidden_field_tag :year, movie['release_date'] %>
			<%= submit_tag submit, id: (movie['id'].to_s + "_button"), class: "btn btn-default" %>
			<% end %>
			</td>
			<% end %>
		</tr>
	<% end %>

</table>