<% (method, submit, trclass, path = ive_seen_it(movie.id, @my_movies.compare_to(@actor.films)))  %>
<tr class="<%= trclass %>" id = "<%= movie.id %>_tr">
  <td><%= image_tag (movie.poster_path) %></td>
  <td><%= link_to (movie.title + " (#{parse_date(movie.release_date)})"), movie_path(movie.id) %></td>
  <td><%= movie.character %></td>
  <td><%= render 'shared_partials/iveseenitbutton', submit: submit, method: method, path: path, movie: movie %></td>
  
  <%= admin?(movie) %>
</tr>
