<% (method, submit, trclass = ive_seen_it(movie['id'], @ourmovies))  %>
<tr class="<%= trclass %>" id = "<%= movie['id'] %>_tr">
  <td><%= image_tag (Tmdb::TheMovieDb::PICTURE_URL + movie['poster_path']) unless movie['poster_path'].nil? %></td>
  <td><%= link_to (movie['title'] + " (#{parse_date(movie['release_date'])})"), movie_path(movie['id']) %></td>
  <td><%= movie['character'] %></td>
  <td><%= render 'shared_partials/iveseenitbutton', submit: submit, method: method, path: @path, movie: movie %></td>
  
  <% if current_user.username == get_admin_username %>
    <td>
      <%= form_tag({controller: "actors", action: "update" }, { id: (movie['id'].to_s + "_form"), remote: true, method: "put" }) do %>
        <%= hidden_field_tag :movie_id, movie['id'] %>
        <%= hidden_field_tag :title, movie['title'] %>
        <%= hidden_field_tag :year, movie['release_date'] %>
        <%= submit_tag "Refresh", id: (movie['id'].to_s + "_button"), class: "btn btn-default" %>
      <% end %>
    </td>
  <% end %>
</tr>
