<% form_data = ive_seen_it(movie.id, @actor.compare_films_to_user)  %>
<tr class="<%= form_data.trclass %>" id = "<%= movie.id %>_tr">
  <td><%= image_tag (movie.poster_path) %></td>
  <td><%= link_to (movie.title + " (#{movie.release_date})"), movie_path(movie.id) %></td>
  <td><%= movie.character %></td>
  <td><%= ive_seen_it_button(form_data, movie) %></td>
  
  <%= admin?(movie) %>
</tr>
