<% unless @actor_name.nil? %>
<title><%= @actor_name + " Movies" %></title>
<h1><%= @actor_name %></h1>
<h2 id="watchedmoviecount">
	<% if user_signed_in? %>
I've seen <span id="moviecount"><%= @watchedmoviescount %></span> out of
	<% end %>
	<%= @actor.count %> movies
</h2>

<table>
	<tr class="movie_status_table_header">
		<th></th>
		<th>Film</th>
		<th>Character</th>
		><th></th>
		<th></th>
	</tr>
  <%= user_signed_in? ? (render :partial => 'list_of_movies', :collection => @actor, :as => :movie) : (render :partial => 'list_of_movies_not_signed_in', :collection => @actor, :as => :movie) %>
</table>

<% else %>
<title>Not found</title>
<h2>Actor not found!</h2>
<% end %>
