<% if @actor.name %>
  <%= provide :title, @actor.name + ' movies' %>
  <h1><%= @actor.name %></h1>
  <h2 id="watchedmoviecount">
    <% if user_signed_in? %>
      I've seen <span id="moviecount"><%= @actor.compare_films_to_user.count %></span> out of
    <% end %>
    <%= @actor.films.count %> movies
  </h2>

  <table>
	  <tr class="movie_status_table_header">
		  <th></th>
		  <th>Film</th>
		  <th>Character</th>
		  <th></th>
		  <th></th>
	  </tr>
    <%= render partial: @actor.view_partition, collection: @actor.films_renderable, as: :movie %>
  </table>
<% else %>
  <h2>Actor not found!</h2>
<% end %>
