<% unless @movie["status_code"] == 6 %>
<title><%= @movie['title'] %></title>
			<% if user_signed_in? %>
	<% if ive_seen_it(@movie['id']) %>
			<% method = "delete"; submit = "Oops, haven't seen it!"; action = "destroy"; trclass="movie_watched" %>
			<% else %>
			<% method = "post"; submit = "I've seen it!"; action = "create"; trclass="movie_unwatched" %>
			<% end %>
			<% end %>
<table class="header_table">
  <tr class="<%= trclass %>" id= "<%= @movie['id'] %>_tr" >
			<th class="header_table_movie_picture"><%= image_tag (Tmdb::TheMovieDb::PICTURE_URL + @movie['poster_path']) unless @movie['poster_path'].nil? %></th>
			<th><h2><%= @movie['title'] + " (#{Date.parse(@movie['release_date']).strftime('%Y') unless (@movie['release_date'].empty?)})" %></h2></th>
			<% if user_signed_in? %>
			<th>
<%= render 'shared_partials/iveseenitbutton', submit: submit, method: method, action: action, movie_id: @movie['id'], movie_title: @movie['title'], movie_release_date: @movie['release_date'] %>
			</th>
			<% end %>
		</tr>
</table>
<table>
		<tr>
			<td><h2>Tagline: <%= @movie['tagline'] %></h2></td>
		</tr>
		<tr>
			<td>Overview: <%= @movie['overview'] %></td>
		</tr>
</table>
<br>
<h2>Cast</h2>
<table>
	<% @moviecredits['cast'].each do |credit| %>
	<tr>
		<td><%= image_tag (Tmdb::TheMovieDb::PICTURE_URL + credit['profile_path']) unless credit['profile_path'].nil? %></td>
		<td><%= link_to credit['name'], actor_path(credit['id']) %></td>
		<td><%= credit['character'] %></td>
	<% end %>
</table>
<% else %>
<h2>Movie not found!</h2>
<% end %>
