<% unless @movie.status_code == 6 %>
  <%= provide :title, @movie.title %>
  <% form_data = user_signed_in? ? ive_seen_it(@movie.id, current_user.movie_ids) : NullObjects::NotSignedIn.new.form_data %>
  <table class="header-table">
    <tr class="<%= form_data.trclass %>" id= "<%= @movie.id %>-tr" >
      <td class="header-table-movie-picture"><%= image_tag (@movie.poster_path) %></td>
      <td><h2><%= @movie.title_and_release_date %></h2></td>
      <td><%= ive_seen_it_button(form_data, @movie) if user_signed_in? %></td>
    </tr>
  </table>
  <table>
    <tr>
      <td><h2>Tagline: <%= @movie.tagline %></h2></td>
    </tr>
    <tr>
      <td>Overview: <%= @movie.overview %></td>
    </tr>
  </table>
  <br>
  <h2>Cast</h2>
  <table>
    <% @movie.credits['cast'].each do |credit| %>
      <tr>
        <td><%= image_tag (Tmdb::PICTURE_URL + credit['profile_path']) unless credit['profile_path'].nil? %></td>
        <td><%= link_to credit['name'], actor_path(credit['id']) %></td>
        <td><%= credit['character'] %></td>
      </tr>
    <% end %>
  </table>
<% else %>
  <h2>Movie not found!</h2>
<% end %>
