<title><%= @person_name + " Movies" %></title>
<h1><%= @person_name %>
<h2 id="watchedmoviecount">
	<% if user_signed_in? %>
I've seen <span id="moviecount"><%= @watchedmoviescount %></span> out of
	<% end %>
	<%= @person.count %> movies
</h2>
<%= render 'list_of_movies' %>