<%= provide :title, @user.username %>
<%= render 'users/partials/statistics' %>
<br><br>
<div class="row">
  <div class="col-md-3">
    <%= render 'users/partials/left_side_statistics' %>
  </div>
  <div class="col-md-9">
    <table class="table">	
	    <tr>
		    <th>Movie Titles</th>
	    </tr>
      <tbody class = "endless_movie">
    <%= render :partial => 'users/partials/list_of_movies', :collection => @usermoviesp, :as => :movie  %>
      </tbody>
    </table>
    <%= paginate @usermoviesp, remote: true%>
  </div>
</div>
