<title><%= @user.username + "'s profile" %></title>
<%= render 'users/partials/statistics' %>
<%= render @render %>
<%= render 'users/partials/movie_list' %>
<br><br>
<%= render 'users/partials/actor_list' %>
