<%= provide :title, @profile.username %>
<%= render 'users/partials/statistics', profile: @profile %>
<br><br>
<div class="row">
  <div class="col-md-3">
    <%= render 'users/partials/left_side_statistics', profile: @profile %>
  </div>
  <div class="col-md-9">
    <table id="movies" class="movie_list">
      <tr><th>Movie Titles</th></tr>
      <tbody class = "page">
        <%= render :partial => 'users/partials/list_of_movies', :collection => @profile.paginated_movies(params[:page]), :as => :movie %>
      </tbody>
    </table>
    <%= paginate @profile.paginated_movies(params[:page]) %>
  </div>
</div>
