<title><%= @user.username + "'s profile" %></title>
<%= render 'users/partials/statistics' %>
<br><br>
<div class="row">
<%= render @render %>
<div class="col-md-3">
<%= render 'users/partials/left_side_statistics' %>
</div>
<div class="col-md-9">
<%= render 'users/partials/list_of_movies' %>
<%= paginate @usermoviesp %>
</div>
</div>
