<h1>Search</h1>

<%= form_tag("/search", method: "get") do %>
	<%= text_field_tag(:query) %>
	<%= radio_button_tag(:type, "movie", checked: true) %>
	<%= label_tag(:type_movie, "Movie") %>
	<%= radio_button_tag(:type, "person") %>
	<%= label_tag(:type_person, "Person") %>
	<%= submit_tag("Search") %>
	
<% end %>