<% if (params[:id] == current_user.username) || (params[:id].blank?) %>
  <% user = "I have " %>
<% else user = params[:id] + " has " %>
<% end %>

<div class="row">
	<div class="col-md-10">
    <table class="statistics">
      <tr>
        <td><h4>Number of movies: </h4></td>
        <td><h4><%= profile.movies.count %></h4></td>
      </tr>
      <tr>
        <td><h4>Top Five actors/actresses:</h4></td>
        <% Tmdb::MovieStats.add_actors_to_hash(profile.movies).each do |key, val| %>
          <td><h4><%= link_to key[0] + " (#{val})", actor_path(key[1]) %></h4></td>
        <% end %>
      </tr>
      <tr>
        <td><h4><%= user %>watched the most movies made in:</h4> </td>
        <% Tmdb::MovieStats.add_years_to_hash(profile.movies).each do |key, val| %>
          <td><h4><%= link_to "#{key} (#{val})", {by_year: key} %></h4></td>
        <% end %>
        <td><h4><%= link_to 'All', profile_path(profile.user) %></h4></td>
      </tr>
    </table>
	</div>
	<div class="col-md-2">
    <% unless params[:id] == current_user.username || params[:id].blank? %>
      <table class="percentage_of_movies">
        <tr>
          <td>We've seen</td>
        <tr>
          <td><h1><%= number_to_percentage(@profile.our_movie_percentage, precision: 0) %></h1>
          </td>
        </tr>
        <tr>
          <td> of the same movies</td>
        </tr>
      </table>
    <% end %>
	</div>
</div>
